{% extends 'shop/main.html' %}
{% load static %}
{% block title %}Übersicht {{ seo_cat.name }}: jetzt online kaufen | gastrodichtung.ch{% endblock %}
{% block meta_description %}<strong>{{ seo_cat }}</strong>: Übersicht über die Dichtungen | gastrodichtung.ch{% endblock %}

{% block content %}

<div class="container">
    <div class="storepreview">
      <div class="row">
        
        

        {% for product in category_products %}
        
  <div class="col-lg-3">

    {% if product.kategorie.name  == "Zubehör"%}



    <div class="product-flex">
      {% if product.titelbild %}
    <a href="{% url 'store:product-detail' product.slug %}"><img class="thumbnail" src="{{ product.titelbild.url }}"></a>
    {% endif %}
    
    <div class="box-element">

    
    <div class="box-element-sub">
    
    <div>
    <h4>{{ product.kategorie }} 
    </h4>
    <strong>{{ product.titel }} {% if product.montage %} {{ product.montage }} {% endif %} </strong>
    </div>
      
    <a class="btn btn-warning btn-sm" href="{% url 'store:product-detail' product.slug %}">Zum Produkt</a>

    <hr>
    </div>

    </div>

    </div>

    {% else %}

    <div class="product-flex">
      {% if product.titelbild %}
    <a href="{% url 'store:product-detail' product.slug %}"><img class="thumbnail" src="{{ product.titelbild.url }}"></a>
    {% endif %}
    
    <div class="box-element">

    
    <div class="box-element-sub">
    <h4>{{ product.kategorie }}<br> <strong>{{ product.artikelnr }} </strong></h4>
    
  
    
    
    
      
    <a class="btn btn-warning btn-sm" href="{% url 'store:product-detail' product.slug %}">Preis Berechnung</a>

    <hr>
    </div>

    </div>

    </div>
  

  {% endif %}

  </div>

  {% endfor %}

  </div><!-- row end -->
  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
