{% extends 'shop/main.html' %}
{% load static %}
{% block title %}Kühlschrankdichtungen {{ seo_marke.name }} - Übersicht{% endblock %}
{% block meta_description %}Ein Sortiment an Kühlschrankdichtungen von der Marke {{ seo_marke.name }}.{% endblock %}

{% block content %}

<div class="container">
    <div class="storepreview">

      {% if seo_marke.markepic %}
      <img src="{{ seo_marke.markepic.url }}">
      {% endif %}
      
      <h2>{{ seo_marke.name }} - Dichtungen</h2>
      

      <p>{{ seo_marke.marketext }}</p>
      <br>
      <div class="row">
        


        

        {% for product in marke_products %}
        
  <div class="col-lg-3">

    <div class="product-flex">
      {% if product.titelbild %}
    <a href="{% url 'store:product-detail' product.slug %}"><img class="thumbnail" src="{{ product.titelbild.url }}"></a>
    {% endif %}
    
    <div class="box-element">

    
    <div class="box-element-sub">
    <h4>{{ product.kategorie }}<br> <strong>{{ product.artikelnr }} </strong></h4>
    
  
    
    
    
      
    <a class="btn btn-warning btn-sm" href="{% url 'store:product-detail' product.slug %}">Preis Berechnung</a>

    <hr>
    </div>

    </div>

    </div>
  </div>

  {% endfor %}

  </div><!-- row end -->
  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
