{% extends 'marktplatz/base.html' %}
{% load static %}
{% block title %}Gastronomie Inserat {{ inserat.title }} | gastrodichtung.ch{% endblock %}
{% block meta_description %}Gastronomie Inserat {{ inserat.title }} | gastrodichtung.ch{% endblock %}

{% block content %}


<div class="container">
    <div class="storepreview">
      <h1 style="font-size:1.8em">Inserat {{ inserat.title }} {% if inserat.mp_firmenname %} / {{ inserat.mp_firmenname }} {% endif %}</h1>

      
      <div class="mp-flex">
        

     
     <div style="display:flex;flex-wrap:wrap;">



      
        

    <div style="width:70%;min-width:400px;">

      <div>
      
    
    <br>

    <table class="table">
  
  <tbody>
      
    <tr>
      <th scope="row">Pensum</th>
      <td>{% if inserat.pensum %}
      {{ inserat.pensum }}
      {% endif %}</td>
      
    </tr>
    <tr>
      <th scope="row">Anstellungsart</th>
      <td>{% if inserat.kindof %}
      {{ inserat.kindof }}
      {% endif %}</td>
      
    </tr>
    <tr>
      <th scope="row">Stellenantritt</th>
      <td>{% if inserat.datejob %}
      {{ inserat.datejob }}
      {% endif %}</td>
      
    </tr>

    <tr>
      <th scope="row">Arbeitsort</th>
      <td>{% if inserat.place %}
      {{ inserat.place }}
      {% endif %}</td>
      
    </tr>
  </tbody>
</table>

<br><br>
  
    <h3>Beschreibung</h3>
    <br>
    <p>{{ inserat.jobdescription|linebreaks }}</p>
    <br>
    <h3>Anforderungen</h3>
    <br>
     <p>{{ inserat.requirements|linebreaks }}</p>
     {% if inserat.place %}
      <br>
     <p>Sprachen:  {{ inserat.language }}</p>

      {% endif %}

     <br>
    <h3>Wer wir sind</h3>
    <br>
     <p>{{ inserat.res_description|linebreaks }}</p>
       <br>
      <hr>
     <br>

    <h3>Kontakt</h3>
         <p> {% if inserat.mp_firmenname %}
      {{ inserat.mp_firmenname }}
      {% endif %}</p>
      <p>{{ inserat.place|linebreaks }}</p>
      
          <br>
          <hr>

        <br>
          <h3>Bewerbung an:</h3>
           <p> {% if inserat.contact_person %}
            {{ inserat.contact_person }}
              {% endif %}</p>
      <p> {% if inserat.mp_phone %}
      Telefon: {{ inserat.mp_phone }}
      {% endif %}</p>
      <p> {% if inserat.mp_mobile %}
      Mobile: {{ inserat.mp_mobile }}
      {% endif %}</p>

      <p> {% if inserat.mp_email %}
      E-Mail: {{ inserat.mp_email }}
      {% endif %}</p>
        <br>
           <hr>


    </div>


    


    <p> Erstelldatum: {{ inserat.add_date|date:"d.m.Y " }}</p>



    <br><br>
    <a href="{% url 'store:marktplatz_jobs' %}">Zurück zum Jobsmarktplatz

    </a>
      
    
    
    
  </div><!-- end first -->



    </div>





  </div><!-- row end -->

   
  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
