{% extends 'marktplatz/base.html' %}
{% load static %}
{% block title %}Gastronomie Marktplatz | gastrodichtung.ch{% endblock %}
{% block meta_description %}Gastronomie Marktplatz | gastrodichtung.ch{% endblock %}




{% block content %}


<div class="container">
    <div class="storepreview">
      <h1 style="font-size:1.8em">Gastro Jobinserate</h1>
     
     <br>


     <div style="width:100%">
     

     <!-- Search form -->
        <form class="form-inline d-flex md-form form-sm mt-0" action="{% url 'store:marktplatz_jobs' %}">
          {% csrf_token %}
            
         <div style="flex: 0 0 20%">
                <select id="category" class="form-control" name="category">
                  <option selected>Region wählen...</option>
                  {% for cat in regions %}
                  <option value="{{ cat.0 }}">{{ cat.0 }}</option>
                  {% endfor %}
                </select>
              </div>

          <div style="flex: 0 0 20%">
                <input id="textsuche" class="form-control" type="text" placeholder="Ort mit Namen suchen"
            aria-label="Search" name="search">
          </div>


                <div style="flex: 0 0 15%">
                <button type="submit" style="border: none;" class="btn btn-outline-secondary">
            <span class="fas fa-search"></span> Suche
          </button>
        </div>
        <div style="flex: 0 0 15%">
            <a href="{% url 'store:marktplatz_jobs' %}" style="border: none;" class="btn btn-outline-secondary"><span class="fas fa-times"></span> zurücksetzen</a>
        </div>

      </div>


        </form>
        <br>
        <a class="btn btn-success btn-sm" href="{% url 'store:marktplatz_jobinserat_erfassen' %}">Jobinserat erfassen</a>

      </div><!-- end introflex -->


      <div class="mp-flex-jobs flexjobs">
  
     <div class="mp-main">

      <div>
        <a href="{% url 'store:marktplatz_jobs' %}"><h3 style="font-size:1rem">Alle Kategorien</h3></a>
        <br>

        {% for category in mp_categories %}

        {% if category.name == "Kältebranche" %}

        {% else %}
        
        <ul style="list-style-type: none;padding: 0; margin:0;">
        <a href="{% url 'store:marktplatz_main_jobs_category' category.name %}"><li>{{ category.name }}</li></a>
        </ul>

      {% endif %}
      
      {% endfor %}

      <br><br>

      {% for category in mp_categories %}

      {% if category.name == "Kältebranche" %}

      <ul style="list-style-type: none;padding: 0; margin:0;">
        <a href="{% url 'store:marktplatz_main_jobs_category' category.name  %}"><li>{{ category.name }}</li></a>
        </ul>
      {% endif %}

      {% endfor %}
      
    </div>

     </div>

     <div class="right-flex-jobs"><!--wrapper -->
     

     {% for ins in mp_inserate %}
     {% if ins.is_active == True %}
                 <div class="mp-main-jobs-right" style="margin:0;margin:0 5px;border:none;">

                  
                  
                <div class="inserat-jobs-flex" style="width:100%;display:block;">
                
                
                
                <div class="mp-text" style="width:100%;padding: 5px 15px 15px 15px">

                  <div class="table-responsive">
                  <table class="table table-striped">
              
              <tbody style="width:100%;">
                <tr>
                  
                  <td style="width:100px;" >{{ ins.add_date|date:"d.m.Y " }}</td>
                  <td class="textjobins"><h3><a href="{% url 'store:marktplatz_jobinserat_details' ins.id ins.slug %}">{{ ins.title }}
                 

                </a></h3></td>
                  <td>Region </td>
                </tr>
                <tr>

                  <td></td>
                  <td>
                    
                    <div style="display: flex;justify-content:space-between;">

                      <p style="min-width:10rem">
                  {% if ins.mp_firmenname %}
                    {{ ins.mp_firmenname }}
                    {% endif %}</p>
                    
                    <p>Pensum: {{ ins.pensum }}</p>
                    
                    <p>Anstellungsart: {{ ins.kindof }}</p>
                    
                    <p>Stellenantritt: {{ ins.datejob }}</p>
                  </div>
                 <br>
                      {{ ins.jobdescription|slice:200 }}... <br><br>
                    <a class="btn btn-outline-secondary" href="{% url 'store:marktplatz_jobinserat_details' ins.id ins.slug %}">Details

                </a>
                </td>

                <td>{{ ins.region }}</td>
                  
                </tr>
               
              </tbody>
            </table>
            </div>
                
                </div>
                
              

                </div>

                </div><!-- end inserat flex -->
              

                
            {% endif %}

      {% empty %}
                <p>Kein Inserat vorhanden.</p>

      {% endfor %}

  </div>

</div><!--end wrapper -->


  </div><!-- row end -->
 
  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
