{% extends 'marktplatz/base.html' %}
{% load static %}
{% block title %}Gastronomie Inserat {{ inserat.title }} | gastrodichtung.ch{% endblock %}
{% block meta_description %}Gastronomie Inserat {{ inserat.title }} | gastrodichtung.ch{% endblock %}

{% block content %}


<div class="container">
    <div class="storepreview">
      <h1>Inserat Nr. {{ inserat.id }} - {{ inserat.title }}</h1>

        <br>
          <br>
    
      <div class="mp-flex">
        
     <div class="mp-main">

      <div>
      <div>
        <h3>Preis</h3>  
      <p class="preis" style="font-size:1rem !important;">CHF {{ inserat.price|floatformat:2 }} <small>/ Stück</small><br>

      </p>
      {% if inserat.numberof %}
      <p>Anzahl: {{ inserat.numberof }}</p>
      {% else %}
      <p>Anzahl: 1</p>
      {% endif %}
        <hr>
      

      {% if inserat.marke_ins %}
      <br>
      <br>
      <h3>Marke</h3>  

       
        <p>{{ inserat.marke_ins }}</p>
        
        


        <hr>

         {% endif %}

       

      {% if inserat.typ_marke_ins %}
      <br>
      <br>
      <h3>Typ</h3>  

        
        <p>{{ inserat.typ_marke_ins }}</p>
       


        <hr>
         {% endif %}

        <br>
      <br>


        <h3>Zustand</h3>  

        {% if inserat.condition == "G" %}
        <p>Gebraucht</p>
        {% else %}
        <p>Neu</p>
        {% endif %}

        <hr>

      </div>
    </div>

     </div>



     
     <div style="display:flex;flex-wrap:wrap;justify-content:space-between;">


    <div class="right-wrapper-slider">

      
      
     <div class="slider">

      {% if inserat.image1 %}
  <input type="radio" name="slide_switch" id="id1"/>
  <label for="id1">
    <img style="width:120px;height:120px;" src="{{ inserat.image1.url }}" width="100"/>
  </label>
  <img style="max-width:100%;max-height:320px;" src="{{ inserat.image1.url }}"/>

   {% endif %}
  
  <!--Lets show the second image by default on page load-->
  {% if inserat.image %}
  <input type="radio" name="slide_switch" id="id2" checked="checked"/>
  <label for="id2">
    <img style="width:120px;height:120px;" src="{{ inserat.image.url }}" width="100"/>
  </label>
  <img style="max-width:100%;max-height:320px;" src="{{ inserat.image.url }}"/>

  {% endif %}

  {% if inserat.image2 %}
  <input type="radio" name="slide_switch" id="id3"/>
  <label for="id3">
    <img style="width:120px;height:120px;" src="{{ inserat.image2.url }}" width="100"/>
  </label>
  <img style="max-width:100%;max-height:320px;" src="{{inserat.image2.url }}"/>
  {% endif %}
  
  
</div><!-- end slider -->

    <div style="margin-top: 5rem;">
      
    
    <h3>{{ inserat.title }}</h3>
    <br>
    <p>{{ inserat.description }}</p>

  

    </div>

   
    
    
    
  </div><!-- end first -->


  <div class="verkauefer" style="width:300px;">

   
   {% if inserat.anonym_ins == "Ja" %}

        <h3>Verkäufer</h3>
        <br>

        
         <p> {% if inserat.mp_firmenname %}
        
      {{ inserat.mp_firmenname }}
      {% endif %}</p>
      <br>
      <p> {% if inserat.mp_phone %}
      Telefon: {{ inserat.mp_phone }}
      {% endif %}</p>
      <p> {% if inserat.mp_mobile %}
      Mobile: {{ inserat.mp_mobile }}
      {% endif %}</p>

      <p> {% if inserat.mp_email %}
      E-Mail: {{ inserat.mp_email }}
      {% endif %}</p>

      {% if inserat.add_date %}
      <p>{{ ins.add_date|date:"d.m.Y H:i " }}</p>
      {% endif %}

      {% else %}

        <!-- messages start -->
      {% if messages %}


      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>

        </div>
        <br>
         <a href="{% url 'store:marktplatz_inserat_details' inserat.slug %}" >Zurück</a>

        {% endfor %}

        {% else %}

      
        <h3>Verkäufer kontaktieren</h3>
        <br>
        <!-- Form -->
            <form action="{% url 'store:marktplatz_inserat_details' inserat.slug %}" method="POST">
              {% csrf_token %}

                <div class="col-12 textarea-contact" style="padding:0;">
                  <textarea name="message" class="form-control"  placeholder="Bitte geben Sie Ihre Nachricht ein."></textarea>
                </div>
                <br>
                
                  <button type="submit" class="btn btn-secondary">Senden</button>
       

            </form>


    
    {% endif %}
    <!-- messages end -->

      {% endif %}
          
      
          <hr>

        <br>
          <h3>Ort</h3>
          <br>
           <p>{{ inserat.place }}</p>
           <hr>
  


  </div><!-- end second -->


    </div>



  </div><!-- row end -->
   
  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
