{% extends 'marktplatz/base.html' %}
{% load static %}
{% block title %}Video Marktplatz Gastronomie | gastrodichtung.ch{% endblock %}
{% block meta_description %}Video Marktplatz Gastronomie | gastrodichtung.ch{% endblock %}


{% block content %}


<div class="container">
    <div class="storepreview">
      <h1>Anleitungsvideo zum Marktplatz</h1>

      <br>
        
<iframe width="500" height="315" src="https://www.youtube.com/embed/Qa3Qh25DFbs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   
   

  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
