{% extends 'marktplatz/base.html' %}
{% load static %}
{% block title %}Gastronomie Marktplatz | gastrodichtung.ch{% endblock %}
{% block meta_description %}Gastronomie Marktplatz | gastrodichtung.ch{% endblock %}

{% block content %}


<div class="container">
    <div class="storepreview">
      <h1 style="font-size:1.8em">Gastro Jobinserate</h1>
     
     <br>


     <div class="jobsintro-flex">
     <a class="btn btn-success btn-sm" href="{% url 'store:marktplatz_jobinserat_erfassen' %}">Jobinserat erfassen</a>

     <!-- Search form -->
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="{% url 'store:marktplatz_jobs' %}">
          {% csrf_token %}
            
          <div style="display: flex">
                
                <div style="flex: 0 0 20%">
                <input id="textsuche" class="form-control" type="text" placeholder="Region / Ort"
            aria-label="Search" name="search">
          </div>
                <div style="flex: 0 0 15%">
                <button type="submit" style="border: none;" class="btn btn-outline-secondary">
            <span class="fas fa-search"></span> Suche
          </button>
        </div>
        <div style="flex: 0 0 15%">
            <a href="{% url 'store:marktplatz_jobs' %}" style="border: none;" class="btn btn-outline-secondary"><span class="fas fa-times"></span> zurücksetzen</a>
        </div>

      </div>
        </form>

      </div><!-- end introflex -->


     <br><br><br>


      <div class="mp-flex-jobs flexjobs">
  
     <div class="mp-main">

      <div>
        <a href="{% url 'store:marktplatz_jobs' %}"><h3 style="font-size:1rem">Alle Kategorien</h3></a>
        <br>

        {% for category in mp_categories %}

        {% if category.name == "Kältebranche" %}

        {% else %}
        
        <ul style="list-style-type: none;padding: 0; margin:0;">
        <a href="{% url 'store:marktplatz_main_jobs_category' category.name %}"><li>{{ category.name }}</li></a>
        </ul>

      {% endif %}
      
      {% endfor %}

      <br><br>

      {% for category in mp_categories %}

      {% if category.name == "Kältebranche" %}

      <ul style="list-style-type: none;padding: 0; margin:0;">
        <a href="{% url 'store:marktplatz_main_jobs_category' category.name  %}"><li>{{ category.name }}</li></a>
        </ul>
      {% endif %}

      {% endfor %}
      
    </div>

     </div>

     <div class="right-flex-jobs" style="flex-direction:row;flex-wrap: wrap;aling-items:none;"><!--wrapper -->
     

     {% for ins in mp_inserate %}
     {% if ins.is_active == True %}
     <div class="mp-main-jobs-right" style="margin:0;margin:0 5px;border:none;">

      
      
    <div class="inserat-jobs-flex" style="width:100%;display:block;">
    
    
    
    <div class="mp-text" style="width:100%;padding: 5px 15px 15px 15px">

      <table class="table table-responsive">
  
  <tbody>
    <tr>
      
      <td >{{ ins.add_date|date:"d.m.Y " }}</td>
      <td class="textjobins"><h3><a href="{% url 'store:marktplatz_jobinserat_details' ins.id ins.slug %}">{{ ins.title }}
      -
      {% if ins.mp_firmenname %}
        {{ ins.mp_firmenname }}
        {% endif %}

    </a></h3></td>
      <td>Region </td>
    </tr>
    <tr>

      <td></td>
      <td>{{ ins.jobdescription|slice:200 }}...
        <br><br><a class="btn btn-outline-secondary" href="{% url 'store:marktplatz_jobinserat_details' ins.id ins.slug %}">Details

    </a></td>

    <td>{{ ins.region }}</td>
      
    </tr>
   
  </tbody>
</table>

    
    </div>
    
  

    </div>

    </div><!-- end inserat flex -->
  
{% endif %}

  {% endfor %}

  </div>

</div><!--end wrapper -->


  </div><!-- row end -->
 
  </div><!-- storepreview end -->
</div><!-- container end -->

{% endblock content %}
