{% extends 'base.html' %}
{% load static %}
{% block title %}404 Fehlerseite {% endblock %}
{% block meta_description %}404 Fehlerseite{% endblock %}

{% block head %}


{% endblock %}

{% block content %}
    

      <div class="container padding">

   

            <h2>Diese Seite konnte nicht gefunden werden?
      </h2>
      <h3>Es tut uns Leid, die Webseite nach der Sie gesucht haben exisiert nicht.
      </h3>
   
      
      </div><!-- end container -->

{% endblock %}

{% block script %}


{% endblock %}