{% extends 'base-cms.html' %}
{% load static %}
{% block title %}CMS Dashboard{% endblock %}

{% block content %}

		<br><br>
		<h1>CMS Übersicht</h1>
		<div class="flexbox">
				

			

				<a class="flexelement" href="{% url 'store:cms_kunden' %}">Kunden</a>
				
				<a class="flexelement" href="{% url 'store:cms_produkte' %}">Produkte
				</a>

				<a class="flexelement" href="{% url 'store:cms_bestellungen' %}">Bestellungen
				</a>

				<a class="flexelement" href="{% url 'store:cms_versandkosten' %}">Versandkosten
				</a>

				<a class="flexelement" href="{% url 'store:cms_statistik_produkte' %}">Statistik Produkte</a>

				
				<a class="flexelement" href="{% url 'store:cms_kennzahlen_webseite' %}">Kennzahlen Webseite</a>

				<a class="flexelement" href="{% url 'store:cms_benutzerdaten' %}">Benutzerdaten</a>
				
		</div>
  
</div>


 {% endblock %}

